h1 { color: rgb(29, 90, 29);
font-family: Impact;
font-size: 36px; 
    margin-bottom: 30px;
}

p {color:#172d4cff    ;
font-family: Lexend;
font-size: 30px;
}

body {
    background-color: #c9ec75; /* Light azure background */
    margin: 0;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.height {
    width: 200px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.animal {
    width: 200px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.message {
    font-size: 36px; 
}

img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 50%;
   
}

@media screen and (max-width: 900px) {
   
}